<p id="notice"><%= notice %></p>

  <div class="row">
             <div class="span9">
                          <%= image_tag(@idea.picture_url, :width => "75%") if @idea.picture.present? %>
                        </div>

  <div class="span3">
    <p><b>Nome: </b><%= @idea.name %></p>
                          <p><b>Descricao: </b><%= @idea.description %></p>
                          <p>
                            <%= link_to 'Editar', edit_idea_path(@idea) %>
                            <%= button_to 'Apagar', idea_path(@idea), confirm: 'Voce esta certo?', method: :delete %>
      <%= link_to 'Voltar', ideas_path %>
                          </p>
  </div>
</div>
